doctype
html
  head
    title test
  body
    h1 hello
    script
      | setTimeout(function(){
      |   console.log(window.top)
      |   window.top.location.href="http://google.com"
      | }, 2000)
